/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

/* styles.css */
@import './app/features/inventory/inventory-theme.css';

.table-responsive {
  overflow-x: auto;
}

.badge {
  font-size: 0.8rem;
  padding: 0.35em 0.65em;
}
