<mat-toolbar color="primary">
  <img src="../../assets/images/logofemistore.png" alt="FemiStore Logo" class="logo" style="height: 50px;">
  <span class="spacer"></span>
  <a mat-button routerLink="/">
    <mat-icon>home</mat-icon> Home
  </a>
  <!-- Liens pour utilisateur déconnecté -->
  <a mat-button routerLink="/register" *ngIf="!isLoggedIn">
    <mat-icon>person_add</mat-icon> Inscription
  </a>
  <a mat-button routerLink="/login" *ngIf="!isLoggedIn">
    <mat-icon>login</mat-icon> Connexion
  </a>
  <!-- Liens pour utilisateur connecté -->
  <a mat-button routerLink="/profile" *ngIf="isLoggedIn">
    <mat-icon>account_circle</mat-icon> Profil
  </a>
  <a mat-button routerLink="/users" *ngIf="isLoggedIn">
    <mat-icon>group</mat-icon> Utilisateurs
  </a>
  <button mat-button (click)="logout()" *ngIf="isLoggedIn">
    <mat-icon>logout</mat-icon> Déconnexion
  </button>
</mat-toolbar>
<router-outlet></router-outlet>