<div class="container profile-container mt-4">
  <h2 class="profile-title">Mon Profil</h2>

  <div *ngIf="user" class="profile-details">
    <div class="detail-item">
      <span class="label">Nom :</span>
      <span class="value">{{ user?.name }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Email :</span>
      <span class="value">{{ user?.email }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Rôle :</span>
      <span class="value">{{ user?.role }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Adresse :</span>
      <span class="value">{{ user?.adresse }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Téléphone :</span>
      <span class="value">{{ user?.telephone }}</span>
    </div>
  </div>
</div>
